*.rbc
*.sassc
.powder
.sass-cache
capybara-*.html
.rspec
.rbenv-vars
/vendor/bundle
.bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.rvmrc
