HOST: http://www.peepol.tv/

--- Peepol.tv ---

---
#API documentation

## Allowed HTTPs requests:

    POST   :   To create a resource
    GET    :   Get a resource or list of resources
    DELETE :   To delete resource
    PUT    :   To update a resource

## Description Of Usual Server Responses

- 200 `OK` - the request was successful.
- 201 `Created` - the request was successful and a resource was created.
- 204 `No Content` - the request was successful but there is no representation to return (i.e. the response is empty).
- 400 `Bad Request` - the request could not be understood or was missing required parameters.
- 401 `Unauthorized` - authentication failed or user doesn't have permissions for requested operation.
- 403 `Forbidden` - access denied.
- 404 `Not Found` - resource was not found
- 405 `Method Not Allowed` - requested method is not supported for resource.
---

--
Streams Resources
These are the video stream resources.

###Stream Properties
- id (string): Stream id (md5)
- title (string): Title of the stream
- desc (string): Description
- lat (int): Latitude
- lng (int): Longitude
- geo_reference (string): Location reference text
- channels (array): Channels list
- started_on (string): Stream started date
--

List of streams
GET /streams
< 200
< Content-Type: application/json
[
        { 
        "id": "ef18a7b75fc32246e46bd75ff910a582",
        "title": "Lollapalooza en Chile",
        "desc": "Excelent music!",
        "lat": -33.462666,
        "lng": -70.661713,
        "geo_reference": "Parque O'higgins",
        "channels": [
            "5c3e0faaf75d891ef3fcc8ba54119e4c",
            "9e879d7d0dbd3e5df40fd77d0cef7182"
        ],
        "started_on": "2012-01-23T12:00:00.000"
    },
    { 
        "id": "51d1bc8ab4c5297843ea3f57b7800b30",
        "title": "No al lucro",
        "desc": "",
        "lat": -33.462666,
        "lng": -70.661713,
        "geo_reference": "Alameda",
        "channels": [
            "5c3e0faaf75d891ef3fcc8ba54119e4c",
            "7652acc25ca9744695de61f3ae0b527b"
        ],
        "started_on": "2012-01-23T12:00:00.000"
    },
    { 
        "id": "cf58e551d63525613465878c183266f5",
        "title": "El wanaco",
        "desc": "Esta pegando fuerte",
        "lat": -33.462666,
        "lng": -70.661713,
        "geo_reference": "Nataniel Cox",
        "channels": [
            "9e879d7d0dbd3e5df40fd77d0cef7182"
        ],
        "started_on": "2012-01-23T12:00:00.000"
    }
]

Create a new stream
POST /streams
> Content-Type: application/json
> Accept: application/json
{ 
    "title": "Lollapalooza en Chile",
    "desc": "Excelent music!",
    "lat": -33.462666,
    "lng": -70.661713,
    "geo_reference": "Parque O'higgins"
}
< 201
< Content-Type: application/json
{ 
    "id": "812f16429fad2756693047f685b9956a",
    "title": "Lollapalooza en Chile",
    "desc": "Excelent music!",
    "lat": -33.462666,
    "lng": -70.661713,
    "geo_reference": "Parque O'higgins",
    "channels": [],
    "started_on": "2012-01-23T12:00:00.000"
}

Stream information
GET /streams/{id}
< 200
< Content-Type: application/json
{ 
    "id": "812f16429fad2756693047f685b9956a",
    "title": "Lollapalooza en Chile",
    "desc": "Excelent music!",
    "lat": -33.462666,
    "lng": -70.661713,
    "geo_reference": "Parque O'higgins",
    "channels": [],
    "started_on": "2012-01-23T12:00:00.000"
}

Deletes stream 
DELETE /streams/{id}
< 200
< Content-Type: application/json
{ "status": "ok" }

List the current stream channels
GET /streams/{id}/channels
< 200
< Content-Type: application/json
[
    {
        "id": "5c3e0faaf75d891ef3fcc8ba54119e4c",
        "identifier": "LollapaloozaCL",
        "streams": [
            { 
                "id": "ef18a7b75fc32246e46bd75ff910a582",
                "title": "Lollapalooza en Chile",
                "desc": "Excelent music!",
                "lat": -33.462666,
                "lng": -70.661713,
                "geo_reference": "Parque O'higgins",
                "channels": [
                    "5c3e0faaf75d891ef3fcc8ba54119e4c",
                    "7652acc25ca9744695de61f3ae0b527b"
                ],
                "started_on": "2012-01-23T12:00:00.000"
            },
            { 
                "id": "51d1bc8ab4c5297843ea3f57b7800b30",
                "title": "Lollapalooza!",
                "desc": "Chancho en piedra",
                "lat": -33.462666,
                "lng": -70.661713,
                "geo_reference": "Parque O'higgins",
                "channels": [
                    "7652acc25ca9744695de61f3ae0b527b",
                    "bb2ee58f56a6b8d9e560f40ae1b0b91f"
                ],
                "started_on": "2012-01-23T12:00:00.000"
            }
        ],
        "streams_count": 2,
        "created_on": "2012-01-23T12:00:00.000"
    },
    {
        "id": "9e879d7d0dbd3e5df40fd77d0cef7182",
        "identifier": "LosPinguinos",
        "streams": [
            { 
                "id": "cf58e551d63525613465878c183266f5",
                "title": "No al lucro",
                "desc": "",
                "lat": -33.462666,
                "lng": -70.661713,
                "geo_reference": "Alameda",
                "channels": [
                    "9e879d7d0dbd3e5df40fd77d0cef7182",
                    "5c3e0faaf75d891ef3fcc8ba54119e4c"
                ],
                "started_on": "2012-01-23T12:00:00.000"
            }
        ],
        "streams_count": 1,
        "created_on": "2012-01-23T12:00:00.000"
    }    
]

Adds the current stream to a channel
POST /streams/{id}/channels
> Content-Type: application/json
> Accept: application/json
{ 
    "channel_id": "5c3e0faaf75d891ef3fcc8ba54119e4c"
}
< 201
< Content-Type: application/json
{
    "id": "5c3e0faaf75d891ef3fcc8ba54119e4c",
    "identifier": "LosPinguinos",
    "streams": [
        { 
            "id": "ef18a7b75fc32246e46bd75ff910a582",
            "title": "No al lucro",
            "desc": "",
            "lat": -33.462666,
            "lng": -70.661713,
            "geo_reference": "Alameda",
            "channels": [
                "5c3e0faaf75d891ef3fcc8ba54119e4c",
                "9e879d7d0dbd3e5df40fd77d0cef7182"
            ],
            "started_on": "2012-01-23T12:00:00.000"
        },
        { 
            "id": "51d1bc8ab4c5297843ea3f57b7800b30",
            "title": "El wanaco",
            "desc": "Esta pegando fuerte",
            "lat": -33.462666,
            "lng": -70.661713,
            "geo_reference": "Nataniel Cox",
            "channels": [
                "5c3e0faaf75d891ef3fcc8ba54119e4c",
                "7652acc25ca9744695de61f3ae0b527b"
            ],
            "started_on": "2012-01-23T12:00:00.000"
        }
    ],
    "streams_count": 2,
    "created_on": "2012-01-23T12:00:00.000"
}   

Removes the current stream from the channel
DELETE /streams/{id}/channels/{id}
< 200
< Content-Type: application/json
{ "status": "ok" }

-- 
Channels Resources 
These are the channel resources.

###Channel Properties
- id (string): Channel id (md5)
- identifier (string): Unique name for the channel
- streams (array): List of streams
- streams_count: Count of streams in the channel
- created_on (string): Channel created date
--

List all the channels
GET /channels
< 200
[
    {
        "id": "5c3e0faaf75d891ef3fcc8ba54119e4c",
        "identifier": "LollapaloozaCL",
        "streams": [
            { 
                "id": "51d1bc8ab4c5297843ea3f57b7800b30",
                "title": "Lollapalooza en Chile",
                "desc": "Excelent music!",
                "lat": -33.462666,
                "lng": -70.661713,
                "geo_reference": "Parque O'higgins",
                "channels": [
                    "5c3e0faaf75d891ef3fcc8ba54119e4c",
                    "9e879d7d0dbd3e5df40fd77d0cef7182"
                ],
                "started_on": "2012-01-23T12:00:00.000"
            },
            { 
                "id": "cf58e551d63525613465878c183266f5",
                "title": "Lollapalooza!",
                "desc": "Chancho en piedra",
                "lat": -33.462666,
                "lng": -70.661713,
                "geo_reference": "Parque O'higgins",
                "channels": [
                    "5c3e0faaf75d891ef3fcc8ba54119e4c",
                    "7652acc25ca9744695de61f3ae0b527b"
                ],
                "started_on": "2012-01-23T12:00:00.000"
            }
        ],
        "streams_count": 2,
        "created_on": "2012-01-23T12:00:00.000"
    },
    {
        "id": "9e879d7d0dbd3e5df40fd77d0cef7182",
        "identifier": "LosPinguinos",
        "streams": [
            { 
                "id": "e407e83a8589e03ed88b83b143d76036",
                "title": "No al lucro",
                "desc": "",
                "lat": -33.462666,
                "lng": -70.661713,
                "geo_reference": "Alameda",
                "channels": [
                    "9e879d7d0dbd3e5df40fd77d0cef7182",
                    "bb2ee58f56a6b8d9e560f40ae1b0b91f"
                ],
                "started_on": "2012-01-23T12:00:00.000"
            }
        ],
        "streams_count": 1,
        "created_on": "2012-01-23T12:00:00.000"
    }    
]

Create a new empty channel
POST /channels
> Content-Type: application/json
> Accept: application/json
{ 
    "identifier": "LollapaloozaCL"
}
< 201
< Content-Type: application/json
{
    "id": "5c3e0faaf75d891ef3fcc8ba54119e4c",
    "identifier": "LollapaloozaCL",
    "streams": [],
    "streams_count": 0,
    "created_on": "2012-01-23T12:00:00.000"
}

Channel information
GET /channels/{id}
< 200
{
    "id": "5c3e0faaf75d891ef3fcc8ba54119e4c",
    "identifier": "LollapaloozaCL",
    "streams": [
        { 
            "id": "51d1bc8ab4c5297843ea3f57b7800b30",
            "title": "Lollapalooza en Chile",
            "desc": "Excelent music!",
            "lat": -33.462666,
            "lng": -70.661713,
            "geo_reference": "Parque O'higgins",
            "channels": [
                "5c3e0faaf75d891ef3fcc8ba54119e4c",
                "9e879d7d0dbd3e5df40fd77d0cef7182"
            ],
            "started_on": "2012-01-23T12:00:00.000"
        },
        { 
            "id": "cf58e551d63525613465878c183266f5",
            "title": "Lollapalooza!",
            "desc": "Chancho en piedra",
            "lat": -33.462666,
            "lng": -70.661713,
            "geo_reference": "Parque O'higgins",
            "channels": [
                "5c3e0faaf75d891ef3fcc8ba54119e4c",
                "7652acc25ca9744695de61f3ae0b527b"
            ],
            "started_on": "2012-01-23T12:00:00.000"
        }
    ],
    "streams_count": 3,
    "created_on": "2012-01-23T12:00:00.000"
}

Delete the channel
DELETE /channel/{id}
< 200
{ "status": "ok" }

Lists the current channel streams
GET /channels/{id}/streams
< 200
[
    { 
        "id": "ef18a7b75fc32246e46bd75ff910a582",
        "title": "Lollapalooza en Chile",
        "desc": "Excelent music!",
        "lat": -33.462666,
        "lng": -70.661713,
        "geo_reference": "Parque O'higgins",
        "channels":  [
            "5c3e0faaf75d891ef3fcc8ba54119e4c",
            "9e879d7d0dbd3e5df40fd77d0cef7182"
        ],
        "started_on": "2012-01-23T12:00:00.000"
    },
    { 
        "id": "51d1bc8ab4c5297843ea3f57b7800b30",
        "title": "Lollapalooza!",
        "desc": "Chancho en piedra",
        "lat": -33.462666,
        "lng": -70.661713,
        "geo_reference": "Parque O'higgins",
        "channels": [
            "5c3e0faaf75d891ef3fcc8ba54119e4c",
            "7652acc25ca9744695de61f3ae0b527b"
        ],
        "started_on": "2012-01-23T12:00:00.000"
    }
]

Create a new stream in the current channel
POST /channels/{id}/streams
> Content-Type: application/json
> Accept: application/json
{ 
    "title": "Lollapalooza en Chile",
    "desc": "Excelent music!",
    "lat": -33.462666,
    "lng": -70.661713,
    "geo_reference": "Parque O'higgins"
}
< 201
{ 
    "id": "51d1bc8ab4c5297843ea3f57b7800b30",
    "title": "Lollapalooza en Chile",
    "desc": "Excelent music!",
    "lat": -33.462666,
    "lng": -70.661713,
    "geo_reference": "Parque O'higgins",
    "channels": [
        "bb2ee58f56a6b8d9e560f40ae1b0b91f"
    ],
    "started_on": "2012-01-23T12:00:00.000"
}
